In [1]:
# Import the required libraries and dependencies
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
%matplotlib inline

In [2]:
# Load the environment variables by calling the load_dotenv function
load_dotenv()
# Set Alpaca API key and secret by calling the os.getenv function and referencing the environment variable names
# Set each environment variable to a notebook variable of the same name
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Check the values were imported correctly by evaluating the type of each
display(type(alpaca_api_key))
display(type(alpaca_secret_key))

# Create your Alpaca API REST object by calling Alpaca's tradeapi.REST function
# Set the parameters to your alpaca_api_key, alpaca_secret_key and api_version="v2"
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

str

str

In [3]:
# Set the tickers
ticker = ["SPY"]
#set start and end dates
start_date = pd.Timestamp("2020-11-22", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2021-11-22", tz="America/New_York").isoformat()
# Set timeframe to one day (1D) for the Alpaca API
timeframe = "1D"
# Set number of rows to 1000 to retrieve the maximum amount of rows
limit_rows = 1000

In [4]:
# Use the Alpaca get_barset function to gather the price information for each ticker
ticker_df = alpaca.get_barset(
    ticker,
    timeframe,
    start = start_date,
    end = end_date,
    limit = limit_rows
).df
ticker_df.head()

                              SPY
                             open     high      low   close    volume
time
2020-11-23 00:00:00-05:00  357.28  358.790  354.865  357.47  49938331
2020-11-24 00:00:00-05:00  360.21  363.805  359.290  363.19  49862168
2020-11-25 00:00:00-05:00  363.13  363.160  361.480  362.65  35309156
2020-11-27 00:00:00-05:00  363.84  364.180  362.580  363.65  46840189
2020-11-30 00:00:00-05:00  362.83  363.120  359.170  362.00  67154075